{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ announcement.title }} {{ announcement.model }} {% endblock %}

{% block content %}
    <div class="auto__wrapper">
        <h1>{{ announcement.title }} {{ announcement.model }}</h1>
        <div class="info__wrapper">
            {% if announcement.image %}
                <img src="{{ announcement.image.url }}" alt="{{ announcement.title }}" class="img-fluid">
            {% else %}
                <img src="{% static 'automobils/img/zaglushka.jpg' %}" alt="{{ announcement.title }}" class="img-fluid stub">
            {% endif %}
            <div class="text__wrapper">
                <p class="mileage" style="font-size: 3rem;"> Цвет: {{ announcement.color }}</p>
                <p class="mileage" style="font-size: 3rem;">Пробег: {{ announcement.mileage }} км</p>
                <p class="fabrication"style="font-size: 3rem;">Дата выпуска: {{ announcement.fabrication }}</p>
                <p class="price"style="font-size: 3rem;">Цена: {{ announcement.price }} ₽</p>
                <p class="full_text" style="font-size: 2rem; text-align: justify;">{{ announcement.full_text }}</p>
                <p class="date" style="margin-right: 5%; font-size: 2rem; margin-bottom: 20px;">Дата публикации: {{ announcement.date }}</p>
                <div class="link__wrapper">
                    <a href="{% url 'auto' %}" class="btn btn-outline-light ml-lg-3 add" style="margin-right: 20px; width: 275px;">Назад</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'announcement-update' announcement.id %}" class="btn btn-outline-light ml-lg-3 add" style="margin-right: 20px; width: 275px;">Редактировать</a>
                        {% if user.is_superuser %}
                            <a href="{% url 'announcement-delete' announcement.id %}" class="btn btn-outline-light ml-lg-3 add" style="margin-right: 20px; width: 275px;">Удалить</a>
                        {% endif %}
                    {% endif %}
                    <form action="{% url 'add-to-favorites' announcement.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light ml-lg-3 add" style="height: 55px; text-align: center;">В избранное</button>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
