{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Услуги для клиентов{% endblock %}

{% block content %}
<div class="auto__wrapper service__wrapper">
    <h1>Услуги клиента: {{ client.first_name }} {{ client.last_name }}</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'add_service' client.id %}" class="btn btn-outline-light ml-lg-3" style="text-align: center; margin: 20px; margin-left: 150px; ">Добавить услугу</a>
    {% endif %}
    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ form.client.label_tag }} {{ form.client }}
        <button type="submit" class="btn btn-outline-light ml-lg-3" style="margin-left: 130px; width: 150px;  margin-bottom: 15px;">Выбрать</button>
    </form>

    <div class="services">
        {% if services %}
            <table class="table" style="width: 70%; margin: 10px auto;">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Цена, p</th>
                        <th>Время исполнения (дни)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.description }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.execution_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>У клиента пока нет услуг.</p>
        {% endif %}
    </div>
</div>
{% endblock %}