{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Мои отзывы{% endblock %}

{% block content %}
<div class="auto__wrapper">
    <h1>Мои отзывы</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'add_review' %}" class="btn btn-outline-light ml-lg-3" style="margin-left: 200px; margin-top: 10px;">Добавить отзыв</a>
    {% endif %}

    <p style="font-size: 20px;margin-top: 10px;">Всего отзывов: {{ page_obj.paginator.count }}</p>
    <p style="font-size: 20px;">Отзывы на странице: {{ page_obj.paginator.per_page }}</p>
    <p style="font-size: 20px;">Текущая страница: {{ page_obj.number }}</p>

    <div class="reviews">
        {% for review in page_obj %}
            <div class="review">
                <h3 class="review__title">{{ review.title }}</h3>
                <p class="review__text">{{ review.text }}</p>
                <p class="review__info"><strong>Автор:</strong> {{ review.author.username }}</p>
                <p class="review__info"><strong>Дата и время:</strong> {{ review.created_at }}</p>
            </div>
        {% empty %}
            <p>Нет отзывов.</p>
        {% endfor %}
    </div>

    <!-- Пагинация -->
    <div class="pagination" style="font-size: 20px; display: inline-block; text-align: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}
